/* .pixel {
    color: blue;
    font-size: 36px;
}
.point {
    color:darkmagenta;
    font-size: 36pt;
} */



/* .em {
    color: chartreuse;
    font-size: 2em;
}
.rem {
    color: darkmagenta;
    font-size: 2rem;
} */