/* p {
      font-size: 48px;
      font-weigth: bold;
      color: #5783fa
    }

h1 { font-size: 48px;
     font-weight: bold;
     color: rgb(123, 230, 255)
    }
h2 { font-size: 48px;
     font-weight: bold;
     color: rgba(red, rgb(32, 80, 32), blue, alpha)
    }
h3 { font-size: 48px;
     color:hsla(280, 70, 70, 0.5)
     border: 1px solid
     background-color: hsla(280, 70, 70, 0.5)
    } */