/* @media (max-width: 480px){
    body {
        background-color:darkorchid;
    }
}


@media (max-width: 1200px) and (min-width: 481px){
    body{
        background-color: aqua;
    }
}


@media (max-width: 1600px) and (min-width: 1201px){
    body{
        background-color: yellow;
    }
}
@media (min-width: 1601px){
    body {
        background-color: red;
    }
} */